---
const internalLinks = [
  { link: "#about", name: "About" },
  { link: "#work", name: "Work" },
];

const workLinks = [
  {
    link: "",
    name: "Luxor Tech / OrdinalHub",
    description: "Building Bitcoin mining related products and services",
    time: "2021 - Present",
  },
  {
    link: "",
    name: "Freelance",
    description:
      "Collaborating on a video calling platform and later on a fintech",
    time: "2020 - 2021",
  },
  {
    link: "",
    name: "Design + Code",
    description:
      "Aiding in the task of teaching designers to code and coders to design",
    time: "2019 - 2020",
  },
  {
    link: "",
    name: "Axend",
    description: "Creating fintech solutions for the Mexican market",
    time: "2018 -2019",
  },
];
const openSourceContributions = [
  {
    link: "https://github.com/withfig/autocomplete/pulls?q=is%3Apr+is%3Amerged+author%3Addanielcruzz+",
    name: "Fig",
    iconPath: "/fig-logo.svg",
    iconAlt: "Fig logo",
  },
  {
    link: "https://github.com/solidjs/solid-docs-next/pulls?q=is%3Apr+is%3Amerged+author%3Addanielcruzz",
    name: "Solid.js",
    iconPath: "/solidjs-logo.svg",
    iconAlt: "Solid.js logo",
  },
  {
    link: "https://github.com/trpc/trpc/pulls?q=is%3Apr+is%3Amerged+author%3Addanielcruzz+",
    name: "tRPC",
    iconPath: "/trpc-logo.svg",
    iconAlt: "tRPC logo",
  },
];
---

<style>
  @keyframes bg-animation {
    0% {
      transform: translateY(-50%) scale(0.5);
      opacity: 0;
    }
    50% {
      transform: translateY(0%) scale(1);
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes main-animation {
    0% {
      filter: blur(5px);
      opacity: 0.2;
    }
    100% {
      filter: blur(0px);
    }
  }
  .bg-gradient {
    position: absolute;
    height: 450px;
    background: radial-gradient(
        450px 450px at 40% 100%,
        #171717 100px,
        transparent 90%
      ),
      radial-gradient(450px 450px at 85% 0%, #171717 100px, transparent 90%),
      radial-gradient(
        at 49% 10%,
        hsla(165, 100%, 50%, 0.2) 0px,
        transparent 65%
      );
    left: 0;
    margin: 0 calc(-30vw + 50%);
    animation: bg-animation 500ms 500ms ease-in-out both;
  }
  .main {
    animation: main-animation 1s cubic-bezier(0.25, 1, 0.5, 1) backwards;
    transform: translate3d(0, 0, 0);
  }

  @media (prefers-reduced-motion) {
    .bg-gradient {
      animation: none;
    }
    .main {
      animation: none;
    }
  }
</style>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>👨‍💻</text></svg>"
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Daniel Cruz | Software Developer</title>
  </head>
  <body class="bg-neutral-900 text-neutral-300">
    <div class="min-h-screen flex relative overflow-x-hidden">
      <!-- <div class="w-screen" style="position:absolute;height:200px;background:radial-gradient(at 50% -50%, hsla(165, 100%, 50%, 0.5) 0px, transparent 60%),radial-gradient(at 30% 30%, hsla(165, 100%, 50%, 0.5) 10px, transparent 30%);left:0;"></div> -->
      <div class="bg-gradient w-screen z-0"></div>
      <main class="w-[90%] mx-auto sm:w-[55ch] py-10 relative z-10 main">
        <section class="mb-6">
          <h1 class="text-3xl font-medium">Daniel Cruz</h1>
          <h2 class="text-lg text-neutral-300/60">Software Developer</h2>
          <section>
            <ul class="flex gap-x-2 text-sm mt-1 text-white/60 underline">
              <li>
                <a
                  target="_blank"
                  rel="noopener"
                  href="https://github.com/ddanielcruzz">GitHub</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  rel="noopener"
                  href="https://www.linkedin.com/in/ddanielcruzz/">LinkedIn</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  rel="noopener"
                  href="https://twitter.com/danielcruzdev">Twitter</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  rel="noopener"
                  href="https://blog.danielcruz.dev/">Blog</a>
              </li>
            </ul>
          </section>
        </section>
        <section class="flex flex-col gap-y-10">
          <section class="relative">
            <h3
              class="sm:text-right sm:text-base sm:mb-0 sm:absolute sm:-left-8 transform sm:-translate-x-full text-neutral-100/50 text-xl mb-4"
            >
              About
            </h3>
            <section class="flex flex-col gap-y-4">
              <p>
                I'm Daniel Cruz, as software developer with <span data-yoe
                ></span>
                years of experience. My work spans across both the front end and
                the back end.
              </p>
              <p>
                I take pride in delivering polished software that I know users
                will enjoy interacting with.
                <!-- Feel free to learn more about me
              <a href="">here</a>. -->
              </p>
            </section>
          </section>

          <section class="relative">
            <h3
              class="sm:text-right sm:text-base sm:mb-0 sm:absolute sm:-left-8 transform sm:-translate-x-full text-neutral-100/50 text-xl mb-4"
            >
              Work
            </h3>
            <ul class="grow flex flex-col gap-y-4">
              {
                workLinks.map(({ name, time, description }) => (
                  <li>
                    <article class="bg-gradient-to-bl from-neutral-800 to-neutral-900 outline outline-white/10 p-6  inline-block w-full rounded-md">
                      <section class="flex items-start justify-between">
                        <section class="flex flex-col gap-y-2">
                          <p class="font-medium text-lg">{name}</p>
                          <p class="font-normal text-neutral-300/60">
                            {description}
                          </p>
                        </section>
                        <p class="shrink-0 text-sm text-neutral-300/40">
                          {time}
                        </p>
                      </section>
                    </article>
                  </li>
                ))
              }
            </ul>
          </section>

          <section class="relative">
            <div
              class="sm:text-right sm:text-base sm:mb-0 sm:absolute sm:-left-8 transform sm:-translate-x-full sm:block text-neutral-100/50 text-xl mb-4 flex gap-x-1"
            >
              <h3>Open Source</h3>
              <h3>Contributions</h3>
            </div>
            <ul class="grow flex flex-col gap-y-4">
              {
                openSourceContributions.map(
                  ({ name, iconPath, iconAlt, link }) => (
                    <li class="">
                      <article class="bg-gradient-to-bl from-neutral-800 to-neutral-900 outline outline-white/10 p-6  inline-block w-full rounded-md">
                        <section class="flex items-center justify-between">
                          <section class="flex gap-x-4">
                            <img
                              width="28"
                              height="28"
                              src={iconPath}
                              alt={iconAlt}
                            />
                            <p class="font-medium text-lg">{name}</p>
                          </section>
                          <a
                            href={link}
                            target="_blank"
                            rel="noopener noreferrer"
                          >
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              fill="none"
                              viewBox="0 0 24 24"
                              stroke-width="1.5"
                              stroke="currentColor"
                              class="w-5 h-5"
                            >
                              <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25"
                              />
                            </svg>
                          </a>
                        </section>
                      </article>
                    </li>
                  )
                )
              }
            </ul>
          </section>
        </section>
      </main>
    </div>
  </body>
</html>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const startYear = 2018;
    const currentYear = new Date().getFullYear();
    const yoeEl = document.querySelector("[data-yoe]");
    if (yoeEl) {
      yoeEl.textContent = String(currentYear - startYear);
    }
  });
</script>
